---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$osm-logo: "{{ site.baseurl }}/assets/osm_logo.svg";

// Base
@import "base/normalize";
@import "base/colors";
@import "base/mixins";
@import "base/grids";
@import "base/typography";
@import "base/layout";
@import "base/z-index-scale";

// Components
@import "components/header";
@import "components/map";

// Layout
@import "layout/home";
@import "layout/page";
@import "layout/event";
@import "layout/post";
