<header class="osm-header">

    <h1 class="osm-logo">
        <picture>
          <source srcset="/assets/osm_logo_india.svg" type="image/svg+xml">
          <img srcset="/assets/osm_logo_india.svg" alt="OpenStreetMap India logo" class="logo" src="/assets/osm_logo.png">
        </picture>
        <a href="/">OpenStreetMap.in</a>
    </h1>

    <div class="burger-menu-trigger">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
    </div>

    <nav class="osm-header__links">
      <ul class="osm-header__links__menu">
        <li>
          <a href='/demo'>GL Demo</a>
        </li>
        <li>
          <a href='/events'>Events</a>
        </li>
        <li>
          <a href='/data'>Data</a>
        </li>
        <li>
          <a href='/about'>About</a>
        </li>
      </ul>
    </nav>


</header>
