<header class="site">

    <h1>
      <a href="/" class="geolink">
        <picture>
          <source srcset="/assets/osm_logo.svg" type="image/svg+xml">
          <img srcset="/assets/osm_logo.svg" alt="OpenStreetMap logo" class="logo" src="/assets/osm_logo.png">
        </picture>
        OpenStreetMap
      </a>
    </h1>

    <ul class="links">
      <li>
          <a href='/demo.html'>GL Demo</a>
      </li>
      <li>
          <a href='/events.html'>Events</a>
      </li>
        <li>
            <a href='/data.html'>Data</a>
        </li>
        <li>
            <a href='/about.html'>About</a>
        </li>
    </ul>

</header>
