<header>

    <h1>
    <a href="/" class="geolink">
      <img alt="OpenStreetMap logo" class="logo" src="http://wiki.openstreetmap.org/w/images/0/07/OpenStreetMap-India.svg">
      OpenStreetMap.in
    </a>
    </h1>

    <ul class="links">
        <li>
            <a href='/data.html'>Data</a>
        </li>
    </ul>
     <ul class="links">
        <li>
            <a href='/news.html'>News</a>
        </li>
    </ul>
    <ul class="links">
        <li>
            <a href='/community.html'>Community</a>
        </li>
    </ul>
    <ul class="links">
        <li>
            <a href='/diary.html'>OSM Diaries</a>
        </li>
    </ul>
</header>