//Header
.osm-header {
  background-color: $gray-dark;
  height: 50px;
  width: 100%;

  &__links {
    overflow: hidden;

    &__menu {
      padding: 0 20px;
      overflow: hidden;
      position: fixed;
      top: 50px;
      right: 0;
      background-color: $gray-dark;
      z-index: $zIndex-1;
      width: 250px;
      height: 100%;
      transform: translateX(100%);
      @include transition(transform 0.4s);

      @include breakpoint($tablet) {
        margin: 10px 0;
        float: right;
        position: relative;
        transform: translate(0);
        top: initial;
        right: initial;
        width: auto;
        background: none;
        height: initial;
      }
      &.is-open {
        transform: translateX(0);
      }
    }

    li {
      text-align: right;
      margin: 10px 0;
      padding: 10px 0;
      border-bottom: 1px solid $white;
      font-size: em(16);
      font-weight: $regular;
      color: $white;
      @include transition(all 0.8s);

      @include breakpoint($tablet) {
        float: left;
        font-size: em(14);
        text-align: left;
        margin: 0 10px 0 0;
        padding: 4px 5px;
        border: none;
      }


    }
  }
}

.osm-logo {
  float: left;
  padding: 10px;
  font-size: 20px;

  img {
   display: inline-block;
   width: 35px;
  }

  a {
    display: inline-block;
    color: $white;
    height: 50px;
    vertical-align: middle;
    letter-spacing: 0.5px;
  }
}
.burger-menu-trigger {
  display: block;
  width: 32px;
  height: 32px;
  float: right;
  margin: 10px;
  cursor: pointer;

  @include breakpoint($tablet) {
    display: none;
  }
  div {
    width: 100%;
    height: 3px;
    background: $white;
    margin: 5px auto;
    transition: all 0.3s;
    backface-visiblity: hidden;
  }

  &.is-active {
    margin: 16px;

    .one {
      transform: rotate(45deg) translate(0, 3px);
    }
    .two {
      opacity: 0;
    }
    .three {
      transform: rotate(-45deg) translate(8px, -11px);
    }
  }
}

